#map {
	/*width: 800px;*/
	width: 576px;
	height: 500px;
}

#controls {
	width: 576px;
	height: 220px;
	display: inline-flex;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.actionControls {
	width: 100%;
}

#actions {
	width: 60%;
}

#information {
	padding-left: 35px;
	width: 35%;
}

#divSwitcher {
	height: 145px;
	padding-top: 10px;
}

#divLegend {
	padding-top: 10px;
}

#divSlider {
	/*border: solid;*/
/*	width: 200px;
	display: inline-block;*/
}

.info {
	padding: 6px 8px;
	/*font: 14px/16px Arial, Helvetica, sans-serif;*/
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend h6 {
	margin: 0 0 0 0;
}

.extent {
	width: 10px;
	height: 16px;
	background: rgba(255,255,255,1);
	background-image: url(images/fullextent.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.extent:hover {
	background-color: #f4f4f4;

}

#slider {
	width: 300px;
}

.ui-widget {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui-slider-wrapper.horizontal {
	height: 3.5em;
	margin-left: 25px;
	margin-right: 20px;
	margin-top: 15px;
}

.horizontal .ui-slider-label-ticks span {
	margin-left: -2.85em;
}